.BikeDetails {
  ul, li, h1, h2 {
    margin:                       0px;
    padding:                      0px;
    list-style-type:              none;
  }


  color:                          $accentColor1;

  .Body {
    padding:                        16px;
  }

  header {
    text-align:                     center;

    h1 {
      @extend                         %headlineText;
    }

    h2 {
      @extend                         %subheadlineText;
    }
  }

  .Description {
    @extend                         %body1Text;
  }

  .Photos {
    display:                      flex;
    width:                        100vw;
    overflow-x:                   scroll;

    li {
      flex:                         none;

      img {
        background-color:                 white;
        max-width:                        99vw;
        max-height:                       308px;
      }
    }
  }

  .Components {
    @extend                       %body2Text;
    text-transform:               capitalize;

    td {
      padding:                      16px;
      background-color:             $accentColor2;
      color:                        $primaryColor1;
    }

    td:first-child {
      color:                        $primaryColor2;
    }
  }
}
