@import "Home";
@import "MyBikes";
@import "MyBikeCard";
@import "StolenBikeCard";
@import "BikeDetails";

body {
  background-color:             $primaryColor3;
}

.SideBar .Drawer {
  background-color:             $primaryColor2;
  color:                        $accentColor2;
}
