// Color Palette
$primaryColor1:             hsla(210.0, 100.0%,  40.0%, 1.00)   !default;
$primaryColor2:             hsla(210.0,  49.0%,  28.0%, 1.00)   !default;
$primaryColor3:             hsla(210.0,  29.0%,  24.3%, 1.00)   !default;
$accentColor1:              hsla(192.0,  17.2%,  94.3%, 1.00)   !default;
$accentColor2:              hsla(  0.0,   0.0%, 100.0%, 1.00)   !default;


$cardTitleColor:            hsla(  0.0,   0.0%, 100.0%, 1.00)   !default;
$cardTitleScrimColor:       hsla(  0.0,   0.0%,   0.0%, 0.75)   !default;
