$gridMargin: 4px;

@function getGridTileSize ($tilesPerRow, $containerWidth: 100vw, $adjustment: 0px) {
  @if ($tilesPerRow <= 3) {
    $mysteryNudge: 2px;

  } @else {
    $mysteryNudge: 1px;
  }

  @return calc(#{ $containerWidth }  /  #{ $tilesPerRow } + #{ $adjustment - ($gridMargin + $mysteryNudge) });
}

// These aren't nested because you can't extend nested selectors

.Grid {
  margin:                         #{ $gridMargin / 2};

  display:                        flex;
  justify-content:                flex-start;
  align-items:                    flex-start;
  flex-flow:                      wrap;

  // fix ghost margins between lines
  font-size:                      0px;
}

.GridTile {
  display:                        inline-flex;
  flex-direction:                 column;

  margin:                         #{ $gridMargin / 2};
}

.GridCaptionBar {
  min-height:                     68px;
  padding:                        16px;
  background-color:               white;
}
