$iconButtonPadding:             12px;
$iconButtonVisibleSize:         24px;
$iconButtonTotalSize:           $iconButtonVisibleSize + 2 * $iconButtonPadding;

.IconButton {
  display:                      flex;
  flex-direction:               column;
  justify-content:              center;
  align-items:                  center;

  width:                        $iconButtonVisibleSize + 2 * $iconButtonPadding;
  height:                       $iconButtonVisibleSize + 2 * $iconButtonPadding;
  padding:                      $iconButtonPadding;

  cursor:                       pointer;

  img,
  .Silhouette {
    width:                        $iconButtonVisibleSize;
    height:                       $iconButtonVisibleSize;
  }

  label {
    @extend %captionText;

    opacity:                      1;

    // Allow lines to break because it looks better here (even though Material Design says captions don't break)
    white-space:                  inherit;
    text-align:                   center;

    // trick flexbox into treating this as one line, so they stay
    // top-aligned but centered
    height:                       1em;
    overflow-y:                   visible;
  }
}

// Reject default styling for `a` tags
a.IconButton {
  color:                        inherit;
  text-decoration:              none;
}
