$iconButtonPadding:             12px;
$iconButtonVisibleSize:         24px;

.IconButton {
  display:                      flex;
  flex-direction:               column;
  justify-content:              center;
  align-items:                  center;

  width:                        $iconButtonVisibleSize + 2 * $iconButtonPadding;
  height:                       $iconButtonVisibleSize + 2 * $iconButtonPadding;
  padding:                      $iconButtonPadding;

  cursor:                       pointer;

  img {
    width:                        $iconButtonVisibleSize;
    height:                       $iconButtonVisibleSize;
  }
}

// Reject default styling for `a` tags
a.IconButton {
  color:                        inherit;
  text-decoration:              none;
}
