.Silhouette {
  display:                        inline-block;

  mask-size:                      100%;
  mask-position:                  center center;
  mask-repeat:                    no-repeat;

  background-color:               $primaryColor3;

  img {
    opacity:                        0;
  }
}
