@import url(http://fonts.googleapis.com/css?family=Roboto:500,500italic,400,400italic,300,300italic|Roboto+Condensed:400);

body {
  font-family:                  "Roboto", sans-serif;
}

// Typographic Scale from [Google Material Design Styleguide](https://www.google.com/design/spec/style/typography.html#typography-standard-styles)

%truncateText {
  white-space:                  nowrap;
  text-overflow:                ellipsis;
  overflow:                     hidden;
}

%dontTruncateText {
  white-space:                  normal;
}

%display4Text {
  font-size:                    112px;
  font-weight:                  300;
  opacity:                      .54;
  letter-spacing:               -10px;

  @extend                       %truncateText;
}

%display3Text {
  font-size:                    56px;
  font-weight:                  400;
  opacity:                      .54;

  @extend                       %truncateText;
}

%display2Text {
  font-size:                    45px;
  font-weight:                  400;
  opacity:                      .54;
  line-spacing:                 48px;
}

%display1Text {
  font-size:                    34px;
  font-weight:                  400;
  opacity:                      .54;
  line-spacing:                 40px;
}

%headlineText {
  font-size:                    24px;
  font-weight:                  400;
  opacity:                      .87;
  line-spacing:                 32px;
}

%titleText {
  font-size:                    20px;
  font-weight:                  500;
  opacity:                      .87;

  @extend                       %truncateText;
}

%subheadlineText {
  font-size:                    16px;
  font-weight:                  400;
  opacity:                      .87;
  line-spacing:                 28px;
}

%listItemText {
  font-size:                    14px;
  font-weight:                  500;
  opacity:                      .87;
  line-height:                  $touchTargetMinimumSize;
}

%body2Text {
  font-size:                    14px;
  font-weight:                  500;
  opacity:                      .87;
  line-spacing:                 24px;
}

%body1Text {
  font-size:                    14px;
  font-weight:                  400;
  opacity:                      .87;
  line-spacing:                 20px;
}

%captionText {
  font-size:                    12px;
  font-weight:                  400;
  opacity:                      .54;

  @extend                       %truncateText;
}

%gridTileTitleText {
  font-size:                    16px;
  font-weight:                  500;

  @extend                       %truncateText;
}

%gridTileSubtitleText {
  font-size:                    12px;
  font-weight:                  400;

  @extend                       %truncateText;
}

%gridTileBodyText {
  font-size:                    14px;
  font-weight:                  400;

  @extend                       %truncateText;
}

%gridTileBoldBodyText {
  font-weight:                  500;

  @extend                       %gridTileBodyText;
}

%menuText {
  font-size:                    14px;
  font-weight:                  500;
  opacity:                      .87;

  @extend                       %truncateText;
}

%buttonText {
  font-size:                    14px;
  font-weight:                  500;
  opacity:                      .87;
  text-transform:               uppercase;

  @extend                       %truncateText;

  display:                      inline-block;
  min-height:                   48px;
  padding:                      14px  12px;
  cursor:                       pointer;
}
